// Цвета
$red-main: #F03341;
$red-bg: #FDEBEC;
$white: #FFFFFF;
$gray-bg: #F3F4F6;
$black: #0C0C0C;
$white-bg: #FDFDFD;

// Шрифт
$font-main: 'Manrope', sans-serif;

// Брейкпоинты
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 900px;
$breakpoint-mobile: 600px; 